# System files
.DS_Store

# Environment-specific files
.env
.env.testing

# Editor configs
/.idea

# Laravel runtime files
/public/hot
/public/storage
/storage/*.key

# Third-party packages
/node_modules
/vendor

# Logs and caches
npm-debug.log
yarn-error.log
.phpunit.result.cache
