// =============================================================================
// Bulma variables.
// -----------------------------------------------------------------------------
// The order of importants and overrides in this file is important. It must also
// be loaded _before_ the Bulma framework.
// =============================================================================

// -----------------------------------------------------------------------------
// Import Bulma's "initial" variables and utility functions.
// -----------------------------------------------------------------------------
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// -----------------------------------------------------------------------------
// Override Bulma's "initial" variables.
// -----------------------------------------------------------------------------
$family-sans-serif: "Avenir Next", Avenir, sans-serif;
$turquoise: #66CC99;
$tablet: 760px;

// -----------------------------------------------------------------------------
// Override Bulma's "derived" variables.
// -----------------------------------------------------------------------------
$family-primary: $family-sans-serif;

$link: #396;
$link-visited: $link;
$link-hover: darken($link, 10%);

$primary: $turquoise;
$size-7: 0.875rem;
$text: #666;

// -----------------------------------------------------------------------------
// Override Bulma's "generic" variables.
// -----------------------------------------------------------------------------
$body-line-height: 1.3125;

// -----------------------------------------------------------------------------
// Set the Single Story variables.
// -----------------------------------------------------------------------------
$fade-duration: 0.25s;

// -----------------------------------------------------------------------------
// Import Bulma's "derived" variables.
// -----------------------------------------------------------------------------
@import "~bulma/sass/utilities/derived-variables.sass";
